  .menu {
    background-color: brown;
    width: 10%;
    float:left;
    min-width: 120px;
    padding:2%;
    border-radius: 10%; 
    color: black;
    margin: 5px;
  }
  .contenido {
    width: 80%;
    float: left;
    max-width:-moz-calc(92% - 120px);
    max-width:-webkit-calc(92% - 120px);
    max-width:calc(92% - 120px);
    padding:2%;
  }

  header {
    clear: top;
  }
  footer {
    clear:both;
    text-align:center;
    color: darkgoldenrod;
    background-color: yellow;
  }


  #contenedor {
    height: fit-content;
    width: fit-content;
  }

  #contactar {

    margin-left: 200px;
 float: left;
  }
  