html{
    background-color:black;
}

h1{
  color: white;
    font-size: 30px;
}

p{
  color: white;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
p>b {
color: blue;}
.centrar_imagen >img{
    text-align: center; 
}


.redondo >img{

  max-height: fit-content;
  max-width: fit-content;
  border-radius: 20px;
  height: 100%;
  width: 100%;
}

.centratexto {
    text-align: center;
}

nav {
    font-size: 0.9em;
  }
  
  nav > ul {
    line-height: 2em;
    list-style-type: none;
    padding-left: 5px;
    font-family: cursive;
    color: darkgoldenrod;
  }
  
  nav > ul > li > a:link,
  nav > ul > li > a:visited {
    color: white;
    text-decoration: none;

  }
  
  nav > ul > li > a:hover,
  nav > ul > li > a:active {
    color: blue;
    text-decoration: underline;
  }

  .centrar_imagen {
    text-align: center; 
}

h3{
  color: white;
}