
    .menu {
    background-color: brown;
    width: 10%;
    float:left;
    min-width: 120px;
    padding:2%;
    border-radius: 10%; 
    color: black;
    margin: 5px;
  }
  
  .contenido {
    text-align: justify;
    height: auto;
    width: 50%;
    float: left;
    padding: 15px;
  }
  
  .lateral {
    text-align: justify;
    height: auto;
    width: 19%;
    float: left;
    font-size: 11px;
  }
  #cuerpo {
    height: fit-content;
    width: fit-content;
    margin: auto;
  }
  .contenido > h2 {
    text-align: center;
  }
  
  footer {
    clear: both;
  }
  
  
#contiene {
    height: fit-content;
    width: fit-content;
  }
  footer {
    clear:both;
    text-align:center;
    color: darkgoldenrod;
    background-color: yellow;
  }
